
importlib-metadata==2.0.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
matplotlib

#notebook==6.1.4
oauthlib==3.1.0
openpyxl==3.0.7
packaging==20.4
pandas

pylint==2.3.1
pyparsing==2.4.6
pyrsistent==0.17.3

#scikit-learn
#scipy==1.4.1
seaborn==0.10.0

#sklearn==0.0
#statsmodels==0.11.1
streamlit==0.67.1
tweepy==3.9.0
textblob==0.15.3
typed-ast==1.4.0
tzlocal==2.1
urllib3==1.25.10
validators==0.18.1
watchdog==0.10.3
wordcloud==1.8.1

